<a href="https://colab.research.google.com/github/AlexisAO861/ComputadorasyProgramacion-G1157/blob/main/Ejercicio_Redes_sociales.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd 
import numpy as np
df = pd.read_csv("presenciaredes.csv")
df

,RED SOCIAL,CONCEPTO,AÑO,ENERO,FEBRERO,MARZO,ABRIL,MAYO,JUNIO,JULIO,AGOSTO,SEPTIEMBRE,OCTUBRE,NOVIEMBRE,DICIEMBRE,Unnamed: 15
0,FACEBOOK,SEGUIDORES,2020,152107,156957,160595,165180,170488,178413,0,0,0,0,0,0,NaN
1,FACEBOOK,CRECIMIENTO (SEGUIDORES),2020,660,4850,3638,4585,5308,7925,0,0,0,0,0,0,NaN
2,FACEBOOK,PORCENTAJE DE CRECIMIENTO,2020,0.43%,3%,2%,3%,3%,4%,0%,0%,0%,0%,0%,0%,NaN
3,FACEBOOK,PUBLICACIONES,2020,45,53,52,106,98,64,0,0,0,0,0,0,NaN
4,FACEBOOK,ME GUSTA EN PUBLICACIONES,2020,8771,9002,13556,15022,38953,16487,0,0,0,0,0,0,NaN
5,FACEBOOK,PUBLICACIONES COMPARTIDAS,2020,2338,2680,2802,4214,8415,4240,0,0,0,0,0,0,NaN
6,FACEBOOK,COMENTARIOS (USUARIOS),2020,902,601,775,1100,2614,1268,0,0,0,0,0,0,NaN
7,TWITTER,SEGUIDORES (FOLLOWERS),2020,62404,63232,64149,65410,66355,67496,0,0,0,0,0,0,NaN
8,TWITTER,CRECIMIENTO DE FOLLOWERS,2020,863,828,917,1261,945,1141,0,0,0,0,0,0,NaN
9,TWITTER,PORCENTAJE DE CRECIMIENTO,2020,1%,1%,1%,2%,1%,1%,0%,0%,0%,0%,0%,0%,NaN
10,TWITTER,PUBLICACIONES,2020,77,84,90,135,127,82,0,0,0,0,0,0,NaN
11,TWITTER,RETUITS,2020,563,601,748,847,1136,780,0,0,0,0,0,0,NaN
12,TWITTER,ME GUSTA,2020,1224,1225,1601,1994,2667,2069,0,0,0,0,0,0,NaN
13,TWITTER,IMPACTOS,2020,197275,220118,270310,311931,409684,284147,0,0,0,0,0,0,NaN
14,YOUTUBE,VIDEOS,2020,1,2,5,4,4,4,0,0,0,3,5,0,NaN
15,YOUTUBE,VISUALIZACIONES,2020,12226,15605,19602,19452,21805,17344,0,0,0,0,0,0,NaN
16,YOUTUBE,COMENTARIOS,2020,0,0,2,0,6,0,0,0,0,1,3,0,NaN
17,YOUTUBE,ME GUSTA,2020,4,15,15,8,30,33,0,0,0,8,23,0,NaN

In [ ]:
df["Unnamed: 15"].fillna(0)

In [ ]:
df["Unnamed: 15"]=df["Unnamed: 15"].fillna(0)

In [ ]:
df.head()

In [ ]:
# Mostrar en pantalla la diferencia de seguidores (followers) en Twitter entre el mes de enero y junio.

resultado=0
diferencia=int(df['ENERO'][7])- int(df['JUNIO'][7])
if(diferencia <0):
    diferencia = diferencia  * -1
print("La diferencia de seguidores en Twitter entre el mes de enero y junio es de: " , diferencia)

La diferencia de seguidores en Twitter entre el mes de enero y junio es de:  5092

In [ ]:
# Permita calcular la diferencia de visualizaciones de YouTube entre los meses seleccionados por teclado (enero a junio).
print("selecciona los meses que deseas calcular la diferencia de visualizaciones de YouTube")
print("  enero = 1")
print("febrero = 2")
print("  marzo = 3")
print("  abril = 4")
print("   mayo = 5")
print("  junio = 6")

numero=int(input("ingresa el primer mes que deseas calcular porfavor: "))
numero_dos=int(input(f"ingresa el segundo mes que deseas calcular que no sea {numero} porfavor: "))
if numero == 1:
    if numero_dos == 2: 
        ef= int(df['ENERO'][15])-int(df['FEBRERO'][15])
        if(ef <0):
            ef = ef  * -1
        print("La diferencia de visualizaciones de YouTube entre los meses de enero y febrero es: ",ef)
    elif numero_dos == 3:
        emr= int(df['ENERO'][15])-int(df['MARZO'][15])
        if(emr <0):
            emr = emr  * -1
        print("La diferencia de visualizaciones de YouTube entre los meses de enero y marzo es: ",emr)
    elif numero_dos == 4: 
        ea= int(df['ENERO'][15])-int(df['ABRIL'][15])
        if(ea <0):
            ea = ea  * -1
        print("La diferencia de visualizaciones de YouTube entre los meses de enero y abril es: ",ea)
    elif numero_dos == 5:
        emy= int(df['ENERO'][15])-int(df['MAYO'][15])
        if(emy <0):
            emr = emy  * -1
        print("La diferencia de visualizaciones de YouTube entre los meses de enero y mayo es: ",emy)
    elif numero_dos == 6:
        ej= int(df['ENERO'][15])-int(df['JUNIO'][15])
        if(ej <0):
            emr = ej  * -1
        print("La diferencia de visualizaciones de YouTube entre los meses de enero y junio es: ",ej)
elif numero == 2:
    if numero_dos == 1: 
        ef= int(df['FEBRERO'][15])-int(df['ENERO'][15])
        if(ef <0):
            ef = ef  * -1
        print("La diferencia de visualizaciones de YouTube entre los meses de enero y febrero es: ",ef)
    elif numero_dos == 3:
        emr= int(df['FEBRERO'][15])-int(df['MARZO'][15])
        if(emr <0):
            emr = emr  * -1
        print("La diferencia de visualizaciones de YouTube entre los meses de febrero y marzo es: ",emr)
    elif numero_dos == 4: 
        ea= int(df['FEBRERO'][15])-int(df['ABRIL'][15])
        if(ea <0):
            ea = ea  * -1
        print("La diferencia de visualizaciones de YouTube entre los meses de febrero y abril es: ",ea)
    elif numero_dos == 5:
        emy= int(df['FEBRERO'][15])-int(df['MAYO'][15])
        if(emy <0):
            emy = emy  * -1
        print("La diferencia de visualizaciones de YouTube entre los meses de febrero y mayo es: ",emy)
    elif numero_dos == 6:
        ej= int(df['FEBRERO'][15])-int(df['JUNIO'][15])
        if(ej <0):
            ej = ej  * -1
        print("La diferencia de visualizaciones de YouTube entre los meses de febrero y junio es: ",ej)
elif numero == 3:
    if numero_dos == 1: 
        ef= int(df['MARZO'][15])-int(df['ENERO'][15])
        if(ef <0):
            ef = ef  * -1
        print("La diferencia de visualizaciones de YouTube entre los meses de enero y marzo es: ",ef)
    elif numero_dos == 2:
        emr= int(df['MARZO'][15])-int(df['FEBRERO'][15])
        if(emr <0):
            emr = emr  * -1
        print("La diferencia de visualizaciones de YouTube entre los meses de febrero y marzo es: ",emr)
    elif numero_dos == 4: 
        ea= int(df['MARZO'][15])-int(df['ABRIL'][15])
        if(ea <0):
            ea = ea  * -1
        print("La diferencia de visualizaciones de YouTube entre los meses de marzo y abril es: ",ea)
    elif numero_dos == 5:
        emy= int(df['MARZO'][15])-int(df['MAYO'][15])
        if(emy <0):
            emy = emy  * -1
        print("La diferencia de visualizaciones de YouTube entre los meses de marzo y mayo es: ",emy)
    elif numero_dos == 6:
        ej= int(df['MARZO'][15])-int(df['JUNIO'][15])
        if(ej <0):
            ej = ej  * -1
        print("La diferencia de visualizaciones de YouTube entre los meses de marzo y junio es: ",ej)
elif numero == 4:
    if numero_dos == 2: 
        ef= int(df['ABRIL'][15])-int(df['FEBRERO'][15])
        if(ef <0):
            ef = ef  * -1
        print("La diferencia de visualizaciones de YouTube entre los meses de abril y febrero es: ",ef)
    elif numero_dos == 3:
        emr= int(df['ABRIL'][15])-int(df['MARZO'][15])
        if(emr <0):
            emr = emr  * -1
        print("La diferencia de visualizaciones de YouTube entre los meses de abril y marzo es: ",emr)
    elif numero_dos == 1: 
        ea= int(df['ABRIL'][15])-int(df['ENERO'][15])
        if(ea <0):
            ea = ea  * -1
        print("La diferencia de visualizaciones de YouTube entre los meses de abril y abril es: ",ea)
    elif numero_dos == 5:
        emy= int(df['ABRIL'][15])-int(df['MAYO'][15])
        if(emy <0):
            emr = emy  * -1
        print("La diferencia de visualizaciones de YouTube entre los meses de abril y mayo es: ",emy)
    elif numero_dos == 6:
        ej= int(df['ABRIL'][15])-int(df['JUNIO'][15])
        if(ej <0):
            emr = ej  * -1
        print("La diferencia de visualizaciones de YouTube entre los meses de abril y junio es: ",ej)
elif numero == 5:
    if numero_dos == 1: 
        ef= int(df['MAYO'][15])-int(df['ENERO'][15])
        if(ef <0):
            ef = ef  * -1
        print("La diferencia de visualizaciones de YouTube entre los meses de enero y mayo es: ",ef)
    elif numero_dos == 3:
        emr= int(df['MAYO'][15])-int(df['MARZO'][15])
        if(emr <0):
            emr = emr  * -1
        print("La diferencia de visualizaciones de YouTube entre los meses de mayo y marzo es: ",emr)
    elif numero_dos == 4: 
        ea= int(df['MAYO'][15])-int(df['ABRIL'][15])
        if(ea <0):
            ea = ea  * -1
        print("La diferencia de visualizaciones de YouTube entre los meses de mayo y abril es: ",ea)
    elif numero_dos == 2:
        emy= int(df['MAYO'][15])-int(df['FEBRERO'][15])
        if(emy <0):
            emy = emy  * -1
        print("La diferencia de visualizaciones de YouTube entre los meses de febrero y mayo es: ",emy)
    elif numero_dos == 6:
        ej= int(df['MAYO'][15])-int(df['JUNIO'][15])
        if(ej <0):
            ej = ej  * -1
        print("La diferencia de visualizaciones de YouTube entre los meses de mayo y junio es: ",ej)
elif numero == 6:
    if numero_dos == 1: 
        ef= int(df['JUNIO'][15])-int(df['ENERO'][15])
        if(ef <0):
            ef = ef  * -1
        print("La diferencia de visualizaciones de YouTube entre los meses de junio y febrero es: ",ef)
    elif numero_dos == 3:
        emr= int(df['JUNIO'][15])-int(df['MARZO'][15])
        if(emr <0):
            emr = emr  * -1
        print("La diferencia de visualizaciones de YouTube entre los meses de junio y marzo es: ",emr)
    elif numero_dos == 4: 
        ea= int(df['JUNIO'][15])-int(df['ABRIL'][15])
        if(ea <0):
            ea = ea  * -1
        print("La diferencia de visualizaciones de YouTube entre los meses de junio y abril es: ",ea)
    elif numero_dos == 2:
        emy= int(df['JUNIO'][15])-int(df['FEBRERO'][15])
        if(emy <0):
            emy = emy  * -1
        print("La diferencia de visualizaciones de YouTube entre los meses de junio y mayo es: ",emy)
    elif numero_dos == 5:
        ej= int(df['JUNIO'][15])-int(df['MAYO'][15])
        if(ej <0):
            ej = ej  * -1
        print("La diferencia de visualizaciones de YouTube entre los meses de febrero y junio es: ",ej)
else:
    print("valor invalido intentelo de nuevo")

In [ ]:
# Calcular el promedio de crecimiento de Twitter y Facebook entre los meses de enero a junio.

twitter = (int(df['ENERO'][8])+int(df['FEBRERO'][8])+int(df['MARZO'][8])
        +int(df['ABRIL'][8])+int(df['MAYO'][8])+int(df['JUNIO'][8]))/6

facebook = (int(df['ENERO'][1])+int(df['FEBRERO'][1])+int(df['MARZO'][1])
        +int(df['ABRIL'][1])+int(df['MAYO'][1])+int(df['JUNIO'][1]))/6
print("El promedio de crecimiento de Twitter entre los meses de enero a junio es de : ", twitter)
print("El promedio de crecimiento de Facebook  entre los meses de enero a junio es de : ", facebook )

El promedio de crecimiento de Twitter entre los meses de enero a junio es de :  992.5
El promedio de crecimiento de Facebook  entre los meses de enero a junio es de :  4494.333333333333